* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'League Spartan', sans-serif;
  font-weight: 700;
}

:root {
  /* Theme 1 */
  --bg1-1: hsl(222, 26%, 31%);
  --bg2-1: hsl(223, 31%, 20%);
  --bg3-1: hsl(224, 36%, 15%);

  --k1-1: hsl(225, 21%, 49%);
  --k2-1: hsl(224, 28%, 35%);
  --k3-1: hsl(6, 63%, 50%);
  --k4-1: hsl(6, 70%, 34%);
  --k5-1: hsl(30, 25%, 89%);
  --k6-1: hsl(28, 16%, 65%);

  --t1-1: hsl(221, 14%, 31%);
  --t2-1: hsl(0, 0%, 100%);

  /* Theme 2 */
  --bg1-2: hsl(0, 0%, 90%);
  --bg2-2: hsl(0, 5%, 81%);
  --bg3-2: hsl(0, 0%, 93%);

  --k1-2: hsl(185, 42%, 37%);
  --k2-2: hsl(185, 58%, 25%);
  --k3-2: hsl(25, 98%, 40%);
  --k4-2: hsl(25, 99%, 27%);
  --k5-2: hsl(45, 7%, 89%);
  --k6-2: hsl(35, 11%, 61%);

  --t1-2: hsl(60, 10%, 19%);
  --t2-2: hsl(0, 0%, 100%);

  /* Theme 3 */
  --bg1-3: hsl(268, 75%, 9%);
  --bg2-3: hsl(268, 71%, 12%);

  --k1-3: hsl(281, 89%, 26%);
  --k2-3: hsl(285, 91%, 52%);
  --k3-3: hsl(176, 100%, 44%);
  --k4-3: hsl(177, 92%, 70%);
  --k5-3: hsl(268, 47%, 21%);
  --k6-3: hsl(290, 70%, 36%);

  --t1-3: hsl(52, 100%, 62%);
  --t2-3: hsl(198, 20%, 13%);
  --t3-3: hsl(0, 0%, 100%);
}
